@page
@model Razor1.Pages.test2Model
<form method="post">

    <input asp-for="Isim" placeholder="İsminizi yazın" />
    <button type="submit">Gönder</button>

</form>

@if (Model.Sonuc!=null)
{
   <h3>@Model.Sonuc</h3> 
}
